@model Asignatura

@{
    ViewData["Title"] = "Información Asignatura";
    Layout = "Simple";
}

<h1>@ViewData["Title"]</h1>


<partial name="_AsignaturaSimple"></partial>


<span>@ViewBag.Fecha</span>